.feature__swiper {
    width: 100%;
    height: 500px;
    font-family:'Manrope';
}

.swiper-slide__feature_image img {
    width: 255px;
    height: 300px;
}

.feature-span {
    margin-top: 100px;
}