//====================================================================================================
.header {
	font-family: $fontFamily;
}

.header__top {
	min-width: 100%;
	@include adaptiveValue("height", 60, 40);
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	@include adaptiveValue("font-size", 18, 14);
	
	&-logo  {
		display: flex;
		align-items: center;
		z-index: 6;
	}
	
	& img {
	@include adaptiveValue("height", 60, 40);
	}
	
	&-menu {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	
	}
}

.menu {
	// display: flex;
}

.top-menu {
	&__items {
		height: 100%;;
	}
	&__items  {
		align-items: center;
		& li:hover {
			// color: red;
		}
	}

	&__item {
		display: inline-block;
		position: relative;
		margin-left: 20px;
		// padding: 20px 0;
		@include adaptiveValue("padding-top", 20, 5);
		@include adaptiveValue("padding-bottom", 20, 0);
		// padding-bottom: 20px;
		& li:hover{
			color: red;
		}
	}

	&__item:hover  {
		.top-menu__submenu {
			display: block;
			opacity: 1;
			visibility: visible;
			transform: translate(0px, 0px);
			pointer-events: all;
			transition: all 0.8s ease 0s;
		}
	}
	&__links:hover {
		color: red;
	}
}

.top-menu__link span {
}

.top-menu__submenu {
	display: none;
	position: absolute;
	// top: 100%;
	@include adaptiveValue("top", 65, 40);
	left: 0;
	// width: 200px;
	@include adaptiveValue("width", 200, 60);
	// @include adaptiveValue("heigth", 200, 10);
	padding: 10px;
	height: 70px;
	border-radius: 2px;
	// background-color: rgb(238, 241, 242);
	background: rgba(238, 241, 242, 1);
	z-index: 1;
	& li:first-child:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: rgba(198, 191, 191, 0.4);
	}
}

.top-menu__submenu li:last-child {
	margin-top: 20px;
}

.top-menu__button {
	margin-left: 2rem;
	@include adaptiveValue("margin-left", 40, 5);
	align-items: center;
}

.button {
	align-items: center;
	width: 100px;
	height:  40px;
	font-size: 16px;
	background-color: transparent;
	border: 2px solid red;
	border-radius: 20px;
	// text-transform: uppercase;
	overflow: hidden;
	position: relative;
	&:hover {
		color:red;
	}
	& span {
			position: absolute;
			background: red;
			transform: translate(-50%, -50%);
			pointer-events: none;
			border-radius: 50%;
			animation: animate 1s linear infinite;
		}
	
		@keyframes animate {
			0% {
				width: 0;
				height: 0;
				opacity: 0.5;
			}
	
			100% {
				width: 500px;
				height: 500px;
				opacity: 0;
			}
		}
}

.burger {}

.burger2 {}

.icon-arrow:before {
	content: "\ea1c";
}

.material-symbols-outlined {
	transform: rotate(90deg);
	font-weight: 700;
	// font-variation-settings:
	// 	'FILL' 0,
	// 	'wght' 400,
	// 	'GRAD' 0,
	// 	'opsz' 48
	
}
.themetoogle {
	margin-left: 10px;
	transform: rotate(-45deg);
}


// =======================================================================================

@media (max-width: 530px) {
	.header__top {
		display: flex;
		justify-content: space-between;
	}
	.header__top-menu {
		display: none;
	}
}

// It actually starts here
// https: //codepen.io/breadz/pen/zrMRoo

$menu-bg: #DE4152;
$menu-color: #ffffff;
$menu-font-size: 2.5rem;
$menu-zindex: 3;
// $hamburger-color: #fff;
$hamburger-color: var(--hamburg-color);

$hamburger-width: 50px;
$hamburger-height: 50px;
$hamburger-zindex: $menu-zindex;

.toggle-menu {
	
}
.main-nav {
	display: none;
}

@media (max-width: 530px) {

.main-nav {
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	font-size: $menu-font-size;
	font-weight: 400;
	padding-top: 4rem;
	padding-left: 1rem;
	transition: all 0.7s ease-in-out;
	// For some sweet fadez
	visibility: hidden;
	background-color: $menu-bg;
	z-index: $menu-zindex;
	overflow: auto;

	&.open {
		display: block;
		opacity: 1;
		visibility: visible;

		@for $i from 1 through 10 {
			li:nth-child(#{$i}) {
				animation-delay: $i*0.1s;
			}
		}

		li {
			-webkit-animation-duration: 1s;
			animation-duration: 1.0s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			animation-name: fadeInUp;
		}
		@keyframes fadeInUp {
			from {
				opacity: 0;
				-webkit-transform: translate3d(0, 100%, 0);
				transform: translate3d(0, 100%, 0);
			}

			to {
				opacity: 1;
				-webkit-transform: none;
				transform: none;
			}
		}
	}

	ul {
		list-style: none;
		margin-top: 0px;
		padding: 0;
		@include adaptiveValue("column-gap", 60, 20);

		li {
			margin-top: 1.5rem;
		}

		&:hover {
			a {
				opacity: 0.5;
			}
		}

		a {
			// Stops it being a twitchy mess in chrome :pray:
			// https://www.binarymoon.co.uk/2014/02/fixing-css-transitions-in-google-chrome/
			-webkit-transform: translateZ(0);
			transition: opacity .3s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}
	
	

		a {
			text-decoration: none;
			text-transform: uppercase;
		}

		.main-nav__item._notactive {
			.main-nav__submenu {
					display: none;
				}
			}

		.open {
			.main-nav__submenu {
				display: block;
				opacity: 1;
				visibility: visible;
				font-size: 2rem;
				margin-left: 2rem;
				height: 8rem; // высота есть кол-во пунктов меню с размером 2rem (т.е. 2*2=4rem) и еще * на 2 = 8rem
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content:start;
				column-gap: 1rem;
				color: $menu-color;
				background: #e67984;
				border-radius: .5rem;
				position: relative;

				& :not(:last-child)::after{
					content: "";
					position: absolute;
					top: 130%;
						left: -200%;
						width: 800px;
						// flex: 1 1 auto;
						height: 2px;
						background-color: $menu-bg;
				}
			}
		}
}


// Hamburger menu toggler stuff below
.toggle-menu {
	top: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: right;
	// outline: none;
	padding: 0;
	pointer-events: initial;
	pointer-events:all;
	position: relative;
	vertical-align: middle;
	height: $hamburger-height;
	width: $hamburger-width;
	z-index: $hamburger-zindex+10;

	span {
		background-color: $hamburger-color;
		content: "";
		display: block;
		height: 2px;
		left: calc(50% - 13px);
		position: absolute;
		top: calc(50% - 1px);
		transform-origin: 50% 50%;
		transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
		width: 26px;
		// z-index: $hamburger-zindex+10;

		&:before,
		&:after {
			background-color: $hamburger-color;
			content: "";
			display: block;
			height: 2px;
			position: absolute;
			transform-origin: 50% 50%;
			transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
			width: 26px;
		}

		&:before {
			top: 7px;
		}

		&:after {
			top: -7px;
		}
	}

	&.active {
		span {
			display: block;
			z-index: $hamburger-zindex;
			background-color: transparent;
			transition: background 0.2s ease-out;

			&:before,
			&:after {
				transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
			}

			&:before {
				top: 0;
				transform: rotate3d(0, 0, 1, -45deg);
				// transform: rotate(-45deg);
			}

			&:after {
				top: 0;
				transform: rotate3d(0, 0, 1, 45deg);
				// transform: rotate(45deg);
			}
		}
	}
}
}
//====================================================================================================

