:root {
    --black: #0f111a;
    --red: #f11012;
    --yellow: #ffb626;
    --white: #ffffff;
    --speed: 1s;
    --scale: 1.5; // coefficient image zooming
}
.main__slider {
    // padding-top: 70px;
    // margin-top: 70px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative; // Положение точек пагинации
}
.swiper-wrapper {
    width: 100%;
    height: 100vh;
    font-family: $fontFamily;
    // position: relative;
    // margin-top: 70px;
    
}
// ============================================ Swiper control ===============================
.swiper-button-prev_main:after,
.swiper-button-next_main:after {
    font-size: 26px !important;
    font-weight: bold !important;
    // color: #333;
    transition: 0.3s;
}
.swiper-button-prev_main:hover:after,
.swiper-button-next_main:hover:after {
    opacity: 0.7;
}
.swiper-pagination-bullets {
    bottom: 28px !important;
}
.swiper-pagination_main {
    position: absolute;
    bottom: 20px !important;

}
// .swiper-pagination .swiper-pagination_main-bullet {
//     width: 28px !important;
//     height: 28px !important;
//     border: 2px solid #fff;
//     border-radius: 50% !important;
//     background-color: transparent !important;
//     background-color: yellow!important;
//     opacity: 1 !important;
//     bottom: 28px !important;
//     display: block;
// }
// .swiper-pagination .swiper-pagination_main-bullet {
    // background-color: #fff !important;
    // width: 28px !important;
    // height: 28px !important;
// }
// ===================================== End  Swiper control =================================

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.swiper-slide__image {
    // width: 100%;
    // object-fit: fill;
}
.swiper-slide__image img {
    aspect-ratio: 3.8 / 2.2;
    margin-top: -40px !important;
    // aspect-ratio: auto 1920 / 1080;
    object-fit: fill;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.swiper-slide-active .swiper-slide__image img {
    animation: scale-up-center 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-center {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

.swiper-slide .swiper-slide__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: #ffffff;
    font-size: calc(5vw);
    @include adaptiveValue("font-size", 80, 30);
    font-weight: 700;
    letter-spacing: 1px;
    // text-transform: uppercase;
    line-height: .6;
    & span:last-child {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        
    }
}

.swiper-slide .swiper-slide__text span {
    --color: var(--red);
    /* color: var(--color); */
    color: transparent;
    display: inline-block;
    position: relative;
    clip-path: inset(-20% 0);
    animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
    animation-fill-mode: both;
    animation-timing-function: steps(1), ease-out;
    font-family: system-ui;
    margin: 1rem;
}

.swiper-slide-active .swiper-slide__text span::after {
    content: "";
    position: absolute;
    inset: -20% 0;
    background-color: var(--color);
    animation-name: block-reveal;
    animation-duration: var(--speed);
    animation-delay: calc((0.5 + var(--index)) * (var(--speed) / 3));
    animation-fill-mode: both;

}

.swiper-slide-active .swiper-slide__text {
    opacity: 1;
    content: "";
    position: absolute;
    inset: -20% 0;
    /* animation-delay: calc((.5) * (var(--speed) / 3)); */
    animation-fill-mode: both;
}

.swiper-slide-active .swiper-slide__text span {
    color: transparent;
    animation: text-reveal .8s forwards;
}

.swiper-slide__text span:nth-of-type(1) {
    --color: var(--white);
    --index: 0;
}

.swiper-slide__text span:nth-of-type(2) {
    --color: var(--yellow);
    --index: .4;
    // font-size: calc(3vw);
    @include adaptiveValue("font-size", 30, 14);
}

@keyframes block-reveal {
    0% {
        transform: translateX(-110%);
    }

    45%,
    55% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(110%);
    }
}

@keyframes text-reveal {

    0%,
    99% {
        color: transparent;
    }

    100% {
        color: #fff;
    }
}

// ====================================== Swiper Progress Bar ==================================
.carousel-progress {
    // position: relative;
    position: sticky;
    top: 70px ;
    left: 0;
    min-width: 100%;
    height: 8px;

    z-index: 4 !important;
}
.progress {
    left: 0;
    height: 8px;
    // background-color: red;
    background-color: #333;
    opacity: .1;
    animation-name: progress;
    animation-duration: 6.8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: 4;
}

@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}