.offers-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    @include adaptiveValue("margin-top", 70, 30);
}
.offers-body__title {
    @include adaptiveValue("width", 1140, 320);
    @media (max-width: 450px) {
        width: auto;
        
    }
}
.offers-body-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    // @media (min-width: 768px) {
    //     flex: 0 0 50%;
    // }
}    
.offers-body__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}
.offers-body__destination {
    // margin-left: auto;
    // margin-right: auto;
    margin: 0 10px;
    // row-gap: 1rem;
    width: 250px;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 300;
    border: 1px solid rgb(193, 191, 191);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    // transform: translate(0px, 120%);
    //     opacity: 0;
    //     transition: all 0.8s ease 0s;
    // transition: all 0.5s cubic-bezier(0.310, -0.250, 0.000, 1.390);
    // transition: all 0.9s ease-in-out;
    // transform: translate3d(0%, 150%, 0);

        // display: flex;
        // align-items: center;
        // justify-content: center;
    // &._activetextmain {
    //         transform: translate3d(0, 0, 0);
    // }
    // &._offersDestAnim {
    //     transform: translate3d(0, 0, 0);
    // }
    
    & img {
        width: 250px;
        height: 200px;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
._anim-show-sequential {
    transform: translate(0px, 105%);
    opacity: 0;
    // transition: all 0.8s ease 0s;
}
.offers-body__block._activetextmain {
    .offers-body__destination._temp1 {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 1.2s cubic-bezier(0.310, -0.250, 0.000, 1.390) 0s;
    }
    .offers-body__destination._temp2 {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 1.2s cubic-bezier(0.310, -0.250, 0.000, 1.390) 0.2s;
    }
    .offers-body__destination._temp3 {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 1.2s cubic-bezier(0.310, -0.250, 0.000, 1.390) 0.4s;
    }
    .offers-body__destination._temp4 {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 1.2s cubic-bezier(0.310, -0.250, 0.000, 1.390) 0.6s;
    }
    .offers-body__destination._temp5 {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 1.2s cubic-bezier(0.310, -0.250, 0.000, 1.390) 0.8s;
    }
}



.offers-body__text {
    padding: 16px;
    width: 250px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;
}

.offers-body__middle {
    margin-top: 20px;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    text-align: left;
}

.top-offers {
    display: flex;
    justify-content: space-between;
    &__left {
    }
    &__left-rate {
        display: flex;
    }
    &__left-rateStar {
        & span:last-child {
            font-size: 10px;
            font-weight: 300;
        }
    }
    &__right {
        width: 60px;
        text-align: right;
        color: #2f89fc;
    }
    &__rightPrice {}
}




.offers-body__bottom {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers-body__bottomLeft span {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

.offers-body__bottomRight {
    font-size: 14px;
    // background: #8bc34a;
    background: #fc8621;
    color: #fff;
    border-radius: 4px;
    padding: 3px 5px;
}

.map {
    transform: rotate(0deg);
}

.material-symbols-outlined {}

.star {
    transform: rotate(-145deg);
    font-size: 12px;
    color: #f85959;
    margin-right: 5px;
}
.red {
    color: red
}

