
// ============================================ Swiper control ===============================
.tab__link.swiper-pagination-bullet.fc8621 {
    // background-color: #fc8621 !important;
    background-color: transparent !important;
    width: 10px;
    height: 10px;
    border: 2px solid #fc8621 !important;
    opacity: 1;
}
.tab__link.swiper-pagination-bullet.fc8621.swiper-pagination-bullet-active {
    background-color: #fc8621 !important; // set color to active bullet
}
.swiper-pagination.swiper-pagination__testimonials {
	position: absolute;
	bottom: 10px;
	left: 74px !important;
	width: auto !important;
	right: auto !important;
	margin: 0;
    border-radius: 2px solid #fc8621 !important;
}
// ============================================ Swiper Control  End===============================

.testimonials-body {
    @include adaptiveValue("margin-top", 100, 40);
    display: flex;
    box-sizing: border-box;
    // background-color: #f8f9fa;
    background-color: var(--testimonialsbg-color) !important;
    &__left {
        width: 50%;
        margin: 20px;
    }
    &__right {
        width: 50%;
        margin: 20px;
    }
}
@media (max-width: 767px) {
    .testimonials-body {
        // display: block;
        // flex: none;
        flex-wrap: wrap;
        &__left {
        width: 90%;
        }
        &__right {
        width: 90%;
        }
    }
}
.title {
    font-family: "Open Sans", sans-serif;
    @include adaptiveValue("font-size", 18, 14);
    text-transform: uppercase;
    font-weight: 600;
    color: #fc8621;

}
.testimonials-body__title {
    @include adaptiveValue("margin-left", 80, 20);
    margin-bottom: 1rem;
}
.subtitle {
    font-family: "Playfair Display", sans-serif;
    @include adaptiveValue("font-size", 46, 34);
    font-weight: 700;
}
.testimonials-body__subtitle {
    @include adaptiveValue("margin-left", 80, 20);
    margin-bottom: 1.5rem;
}

.testimonials__slider {
    // height: 370px;
    @include adaptiveValue("height", 390, 500);
}

.testimonials__slide {
    margin-top: rem(20) !important;
}

.swiper-slide {
    // display: flex;
    min-width: 0;
    flex-direction: column;
    align-items:flex-start;
    
    
}

.testimonials__slide-image img {
    width: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    @include adaptiveValue("margin-left", 80, 20);
}

.testimonials__slide-name {
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #fc8621;
    @include adaptiveValue("margin-left", 80, 20);
}

.testimonials__slide-jobTitle {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 1rem;
    @include adaptiveValue("margin-left", 80, 20);
}

.testimonials__slide-text p {
    font-size: 4.4em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    @include adaptiveValue("margin-left", 80, 20);

}
.testimonials__slide-text span {
    width: 80%;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    margin-top: -40px !important;
    @include adaptiveValue("margin-left", 80, 20);
    white-space:inherit !important;
    word-wrap: break-word;
}

.testimonials-body__block {
    @include adaptiveValue("margin-left", 80, 20);
}

//  @include adaptiveValue("margin-left", 80, 20);
.testimonials-title__title {
    margin-bottom: 1rem;
}

.testimonials-title__subtitle {
    margin-bottom: 3rem;
}
// Базовые стили спойлеров

// Блок со спойлерами
.spollers {
    display: grid;
    // gap: 15px;
}

// Спойлер

// Заголовок спойлера
.spollers__title {
        font-family: "Playfair Display", sans-serif;
        font-size: rem(16);
        height: 54px;
        width: 90%;
        text-align: left;
        background-color: inherit;

        &._spoller-active {
            background-color: #fc8621;
            font-weight: 700;
            color: #fff;
        }
    
    cursor: default;
    text-align: left;
    padding: rem(10) rem(45);
    border-radius: rem(5);
    position: relative;

    ._spoller-init & {
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 20px;
            top: 50%;
            background-color: var(--hamburg-color);
            height: 3px;
            width: 12px;
            transition: transform 0.5s ease 0s;
            
        }
        &::before {
            transform:  rotate(90deg);
        }
        &::after {
            transform:  rotate(0deg);
        }

        &._spoller-active {
            &::before {
                transform: rotate(0deg);
                background-color: #fff;
            }

            &::after {
                transform: rotate(180deg);
                background-color: #fff;
            }
        }
    }
}

// Контент спойлера
.spollers__body {
    width: 90%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: rem(14);
    padding: rem(20);
    border-radius: rem(5);
    white-space: inherit !important;
    word-wrap: break-word;
    // border: 1px solid #eee;
}
